<div class="page-container">
  <div class="item-container">
    <%= image_tag(@item.imagelink, alt: @item.name, class: "item-img") %>

    <span class="item-name"><%= @item.name %></span>
    <span class="item-des"><%= @item.description %></span>
    <span class="item-dif">難易度: <%= @item.difficulty %></span>
    <span class="item-time">調理時間: <%= @item.time %></span>

    <span class="item-category"><%= @item.category.name %></span>

    <% if admin? %>
      <%= link_to 'Edit', edit_item_path(@item) %> |
      <%= link_to 'Back', items_path %>
    <% end %>
  </div>

</div>
